@{
    ViewBag.Title = "Home Page";
}


    <h1>ASP.NET Identity</h1>
    <div class="col-md-4">
        <dl>
            <dt>Register a user and login</dt>
            <dd>
                Click @Html.ActionLink("Register", "Register", "Account") and create new account.
                Click @Html.ActionLink("Log in", "Login", "Account") and login if you already have account.
                ******************************************************************************************************
            </dd>
<dd>
                Admin account:
                Email - admin@example.com
    <dd>
                Password - Admin@123456
        </dd>
                Login - Admin
            </dd>
        </dl>
    </div>
   